.products {
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .nameCol {
    width: 20%;
  }
  .brandCol {
    width: 20%;
  }
  .imgCol {
    width: 30%;
  }
  .pointsCol {
    width: 30%;
  }
  .priceCol {
    width: 30%;
  }
  .volumeCol {
    width: 30%;
  }
  .descriptionCol {
    width: 30%;
  }
  .launchedAtCol {
    width: 30%;
  }
  .bodyPartCol {
    width: 30%;
  }
  .categoryNameCol {
    width: 30%;
  }
  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}
